*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
/*start: chat*/
.caht-section{
    box-shadow: inset 0 160px 0 0 rgba(221, 82, 39, 0.897);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    max-width: 1200px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgb(0,0,0,1);
    background-color: white;
}
/*end: chat */

/*strat:sidebar */
.Navigation{
    width: 64px;
    background-color: aliceblue;
    height: 100%;
}
.logo{
    font-size: 24px;
    color: rgba(221, 82, 39, 0.897);
}
/*end:sidebar */

/*strat:sidebar */

/*end:sidebar */

/*  min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    ul.HOME li{
    font-size: larger;
}
ul {
    display: inline;
    list-style-type: none;
    overflow: hidden;
}

li {
    display: block;
    float:right;
    padding: 4px;
    text-decoration:none;
    overflow:auto
}
.home{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 800px;
    transform: translate(-50%, -50%); 
    background:whitesmoke;
    color: black;
    margin: 10px;
    border-radius: 10px;
}
.Navigation{
    background-color:rgb(230, 230, 238) ;
    padding: 20px 25px;
    border-radius: 10px 10px 1px 1px;
    
}
.contact-message-list{
    display: flex;
    align-items: center;
}
.contact-message-image{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}
